<div id="stats2" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="stats2-info">
                    <i class="icon-piggy"></i>
                    <p><span class="count">1287</span>+</p>
                    <h2>Savings</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="stats2-info">
                    <i class="icon-photo"></i>
                    <p><span class="count">5786</span>+</p>
                    <h2>Photos</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="stats2-info">
                    <i class="icon-rocket"></i>
                    <p><span class="count">1440</span>+</p>
                    <h2>Rockets</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="stats2-info">
                    <i class="icon-world"></i>
                    <p><span class="count">7110</span>+</p>
                    <h2>Globes</h2>
                </div>
            </div>
        </div>
    </div>
</div>