@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    @await Component.InvokeAsync("_DefaultNavbarComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>